<p><a [routerLink]="['/shop']"><- go back</a></p>

<h3>select currency</h3>
<select [(ngModel)]="currency">
    <option value="usd">USD</option>
    <option value="eur">EUR</option>
    <option value="gbp">GBP</option>
</select>

<div *ngIf="item">
    <h3>{{ item.title }} details</h3>
    <p>{{ item.description }}</p>
    <h2>
        <span [ngClass]="{ 'striked': item.offerDiscount }"> {{ item.prices | currency: currency }}</span>
        <span *ngIf="item.offerDiscount">
            <span
                style="color:white; background: rgb(252, 79, 79); padding: 0 .5em ; border-top-left-radius: 1em; border-bottom-left-radius: 1em; margin: 0 .3em 0; "
                *ngIf="item.offerDiscount">
                {{ item.offerDiscount }}% off
            </span>
            <span style="font-size: 1.5em;">{{ calcDiscount(item.prices, item.offerDiscount) | currency: currency
                }}</span>
        </span>
    </h2>


    <img *ngFor="let photo of item.photos" [src]="photo" alt="item.title"
        style="width: 100px; height: 100px; margin-right: 1em; margin-bottom: 1em; display: inline-block; border: 1px solid #ccc; border-radius: 15px; padding: 5px; box-shadow: 0 0 5px #ccc; transition: box-shadow 0.3s; cursor: pointer;"
        (click)="selectedPhoto = item.photos.indexOf(photo)">
    <img [src]="item.photos[selectedPhoto]" alt="item.title">
</div>
<div *ngIf="!item">
    <h1>Error: invalid item id<p><a [routerLink]="['/shop']"><- go back</a></p>
    </h1>
</div>