<style>
</style>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>
<a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
<app-homework8></app-homework8>

<!--router-outlet></router-outlet-->