<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">


<h1>Angular Application</h1>
<nav>
  <span style="padding-right: 1em;"><a routerLink="/shop">Shop</a> </span>
  <span style="padding-right: 1em;"><a routerLink="/a/a1">Component A1</a></span>
  <span style="padding-right: 1em;"><a routerLink="/a/a2">Component A2</a></span>
  <span style="padding-right: 1em;"><a routerLink="/a/a3">Component A3</a></span>
  <span style="padding-right: 1em;"><a routerLink="/b/b1">Component B1</a></span>
  <span style="padding-right: 1em;"><a routerLink="/b/b2">Component B2</a></span>
  <span style="padding-right: 1em;"><a routerLink="/b/b3">Component B3</a></span>
</nav>
<hr>
<router-outlet></router-outlet>